@font-face {
  font-family: "GregPixel";
  font-style: normal;
  font-weight: 300;
  src: url("/font.woff") format('woff');
}
/* RESET **********************************************************************/
html {
	font-size: 16px;
}
html, body {
	margin: 0;
	min-height: 100%;
	background: black;
	color: white;
}
body, body * {
	font-family: "GregPixel", monospace;
	cursor: default;
	margin: 0;
	padding: 0;
}

/* INTERACTION ****************************************************************/
button, label {
	box-sizing: border-box;
	border: 2px solid #fff;
	padding: 0.5em 1em;
}
button:hover, label:hover {
	background: #444;
}
button:active, label:active {
	opacity: 0.5;
}

/* UI *************************************************************************/
main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 4rem;
	overflow: hidden;
	padding: 0.5rem;

	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
main p {
	margin-bottom: 1em;;
}
main p:last-of-type {
	margin-bottom: 30vh;
}
main p:last-of-type::after {
	content: "|";
}
main p:last-of-type.stale::after {
	-webkit-animation: ibeam 1s infinite steps(1);
	animation: ibeam 1s infinite steps(1);
}

@-webkit-keyframes ibeam {
	50% {
		opacity: 0;
	}
}
@keyframes ibeam {
	50% {
		opacity: 0;
	}
}

form {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4rem;
}

input[name=state-screen] {
	display: none;
}
.state-screen {
	display: none;

	position: fixed;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	min-height: 10rem;
	background: #333;
}
.state-screen .quit {
	position: absolute;
	font-size: 0.5rem;
	left: 0;
	right: 0;
	top: -3em;
	text-align: center;
	border-color: #333;
	color: #333;
}
.state-screen .quit:hover {
	color: #fff;
	opacity: 1;
}
.state-screen .quit:active {
	color: #fff;
	opacity: 1;
	background: black;
}
input[name=state-screen]:checked + .state-screen {
	display: block;
}

form > menu {
	list-style: none;
	text-align: center;
}
form > menu li {
	display: inline-block;
	width: 50%;
	text-align: center;
}
form > menu li label {
	display: block;
	margin: 0 1em;
}
form > menu li:first-of-type label {
	margin-left: 2em;
}
form > menu li:last-of-type label {
	margin-right: 2em;
}

/* OPTIONS ********************************************************************/
#options {

}

/* AREAS **********************************************************************/
#areas {
	height: 10rem;
}
#areas nav {
	height: 100%;
}
#areas nav ol {
	overflow: hidden;
	list-style: none;
	height: 20%;
}
#areas nav ol li {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
}
#areas nav ol li button {
	display: block;
	box-sizing: border-box;
	padding: 0;
	font-size: 0.5rem;
	width: 100%;
	height: 100%;

	border-color: #333;
	background: #666;
	color: #aaa;
}
#areas nav ol:nth-of-type(3) li:nth-of-type(3) button {
	border-color: #fff;
	background: #666;
	color: #fff;
}
#areas nav ol li button:disabled {
	border-color: #000;
	background: #333;
	color: #555;
}
#areas nav ol li button:empty::after {
	content: "?";
}

/* ITEMS **********************************************************************/
#items {

}
#items > h1 {
	font-weight: normal;
	text-align: center;
	font-size: 0.75rem;
	margin: 0.5rem 0;
}
#items ul {
	display: block;
	margin-bottom: 1rem;
	overflow-x: scroll;
	list-style: none;
	white-space: nowrap;
	padding: 0 1em;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
#items ul::-webkit-scrollbar {
	display: none;
}
#items ul:empty::after {
	font-size: 0.7rem;
	font-style: italic;
	color: #aaa;
}
#items ul#items-pockets:empty::after {
	content: "Your pockets are empty";
}
#items ul#items-around:empty::after {
	content: "There's nothing around";
}
#items ul li {
	position: relative;
	display: inline-block;
	margin-right: 4px;
}
#items ul li input {
	display: none;
}
#items ul li label {
	display: block;
	font-size: 0.7rem;
}
#items ul li input:checked + label {
	background: #fff;
	color: #000;
	text-decoration: underline;
}
#items ul li[data-quantity]::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -0rem;
	font-size: 0.5rem;
	text-align: center;
	color: #aaa;
	content: " (" attr(data-quantity) ")";
}

#items > div {
	text-align: center;
}
#items button {
	min-width: 10em;
}